{% extends 'tiger.html.twig' %}

{% block body %}

    {% block navigation %}
        <div class="navbar navbar-inverse" style=" background-color: gray;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 50px 50px;" >
            <nav class="navbar-header">
                <ul class="nav nav-pills">
                    <li>
                        <a href="#" style="color: #000000">Service</a>
                    </li>
                    <li>
                        <a href="#" style="color: #000000">CyberTech</a>
                    </li>
                    <li>
                        <a href="#" style="color: #000000">Portal</a>
                    </li>
                </ul>
            </nav>
        </div>
        {#{{ knp_menu_render('main') }}#}
    {% endblock %}

    <div style="text-align: center">
        <img src="{{ asset('bundles/killsofttiger/images/Di88zLccByQ.jpg')  }}" style="width: 100%; "  />
    </div>

<div style="text-align: center">
    {{ form_start(form) }}
      <div>
          {{ form_errors(form) }}
        <p> {{ form_label(form.username, 'username') }}
            {{ form_widget(form.username)}} </p>

        <p> {{ form_label(form.phonenumber, 'phonenumber') }}
            {{ form_widget(form.phonenumber)}} </p>

        <p>{{ form_label(form.mail, 'mail') }}
           {{ form_widget(form.mail)}} </p>

        <p>{{ form_label(form.subject, 'subject') }}
           {{ form_widget(form.subject)}} </p>

        <p>

            {{ form_widget(form.save) }}
            {{ form_rest(form) }}
        </p>

      </div>
    {{ form_end(form) }}
    </div>


{% block javascripts %}

    {% endblock %}

{% endblock %}
