{% extends 'tiger.html.twig' %}

{% block body %}

<center>
    <form class="form-horizontal">
      <div class="clear-fix">
        <p class="bg-warning"> {{ form_label(form.username, 'username') }} <br>
            {{ form_widget(form.username)}} <br>

           {{ form_label(form.phonenumber, 'phonenumber') }} <br>
           {{ form_widget(form.phonenumber)}} <br>

           {{ form_label(form.mail, 'mail') }} <br>
           {{ form_widget(form.mail)}} <br>

           {{ form_label(form.subject, 'subject') }} <br>
           {{ form_widget(form.subject)}} <br>

        <br>
        <button type="button" class="btn-success" {{ form_widget(form.save) }}
        {{ form_rest(form) }}
      </div>
    </form>
</center>

{% block javascripts %}

    {% endblock %}

{% endblock %}
